<div class='container'>
  <div class='row justify-content-md-center align-items-center my-4'>
    <div class="col-md-5 text-center">
      <h4 class="d-inline bg-secondary text-start text-white">　会員一覧　</h4>
    </div>
  </div>
  <div class='row my-4'>
    <div class="col-md-9 mx-auto">
      <div class='table-responsive'>
        <table class='table table-hover'>
          <thead class="thead-light font-weight-bold">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td class="align-middle"><%= customer.id %></td>
                <td  class="align-middle">
                  <%= link_to admin_customer_path(customer.id) do %><!--氏名をクリック→会員詳細画面へ遷移-->
                    <%= customer.last_name + customer.first_name %>
                  <% end %>
                </td>
                <td class="align-middle"><%= customer.email %></td>
                <td class="align-middle">
                  <% if customer.is_active == true %><!--もし会員が有効なら（trueなら）-->
                    <p class="text-success font-weight-bold">有効</p>
                  <% else %>
                    <p class="text-danger font-weight-bold">退会</p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col">
      <div style="display: flex; justify-content: center;">
        <%= paginate @customers, class: "pagination" %>
      </div>
    </div>
  </div>
</div>