<!--顧客詳細画面　9P-->
<div class="container">
  <div class="row my-3">
    <div>
      <h3><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h3>
    </div>
    <table class="table table-borderless">
      <tr>
        <td>会員ID</td>
        <td><%= @customer.id %></td>
      </tr>
        <td>氏名</td>
        <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
      </tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
        <td>会員ステータス</td>
        <td>
          <% if @customer.is_active == true %><!--もし会員が有効なら（trueなら）-->
            <p class="text-success font-weight-bold" style="vertical-align: middle;">有効</p>
          <% else %>
            <p class="text-secondary font-weight-bold">退会</p>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="row mb-2">
      <%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-sm btn-success"%>
      <%= link_to '注文履歴一覧を見る', admin_path, class: "btn btn-sm btn-primary"%>
   </div>
  </div>
</div>