<!--管理者トップページ(注文履歴一覧) 11P-->
<div>
  <div class="offset-sm-1">
    <h3>注文履歴一覧</h3>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="table-active">購入日時</th>
        <th class="table-active">購入者</th>
        <th class="table-active">注文個数</th>
      </tr>
    </thead>
    <% @orders.each do |order| %> <!--注文テーブルのデータ数だけ繰り返す-->
      <tbody>
        <tr>
          <td>
            <%= link_to admin_order_path(order.id) do %><!--日時をクリック→注文詳細画面へ遷移-->
              <%= order.created_at.strftime("%Y/%m/%d %H:%M") %>
            <% end %>
          </td>
          <td><%= order.customer.last_name + order.customer.first_name %></td>
          <td><%= order.order_details.sum(:amount) %></td><!--amountカラムの合計値を取得-->
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= paginate @orders %>
</div>