<div class="container">
<h1>配送先編集　１５P</h1>
  <div class="row">
    <%= form_with model: @shipping_address, url: address_path(@shipping_address), local: true do |f| %>
      <table>
        <tr>
          <td><%= f.label "郵便番号（ハイフンなし）" %>
          <td><%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000" %></td>
        </tr>
        <tr>
          <td><%= f.label "住所" %></td>
          <td><%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0",size: "40x20" %></td>
        </tr>
        <tr>
          <td><%= f.label "宛名" %></td>
          <td><%= f.text_field :name, autocomplete: "name", placeholder: "令和道子" %></td>
          <td><%= f.submit "変更内容を保存", class: 'btn btn-success' %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
