<h1>８P</h1>

<div class="container">
  
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> 発生しました:</h2>
    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
  
  
  <div class="row">
    <div class="col-md-12">
      <h3>注文情報入力</h3>
      
      <%= form_with model: @order, url: confirm_orders_path, method: :post, local: true do |f| %>
      
      <h4>支払い方法</h4>
      <div>
        <%= f.radio_button :payment_type, "クレジットカード" %>
        <%= f.label :payment_type, I18n.t('activerecord.attributes.order.payment_type.0') %> <!--/config/locales/ja.ymlとlocales/en.yml &モデルで設定ししてます。（byみっころ）-->
      </div>
      <div>
        <%= f.radio_button :payment_type, "銀行振込" %>
        <%= f.label :payment_type, I18n.t('activerecord.attributes.order.payment_type.1') %> <!--/config/locales/ja.ymlとlocales/en.yml &モデルで設定ししてます。（byみっころ）-->
      </div>
    
      <div>
      <h4>お届け先</h4>
      <%= f.radio_button :address_type, "member_address", checked: true %>
      <%= f.label :address_type, "ご自身の住所" %>
      <br>〒<%= current_customer.postal_code + "" + current_customer.address + "" %>
      <br><%= current_customer.last_name + current_customer.first_name %>
      </div>

      <br>
      <%= f.radio_button :address_type, "registered_address" %>
      <%= f.label :address_type, "登録済住所から選択" %>
     <br><%= f.select :shipping_addresses_id, current_customer.shipping_addresses.all.map { |m| [[m.postal_code, m.address, m.name].join(" "), m.id] }, include_blank: "登録してある配送先住所から選択" %>
      <br>
      <%= f.radio_button :address_type, "new_address" %>
      <%= f.label :address_type, "新しいお届け先" %>
      <table>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size:"60*60" %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, placeholder: "令和道子" %></td>
        </tr>
      </table>

      <br>
      <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>