<h1>商品詳細　６P</h1>
<div class="container">
  
  <div class="row">
    <div>
	  <!--<%#= render '', genres: @genres %>　←表示必要であればレンダー先(ジャンル一覧)確定後追加（byみっころ）-->
    </div>
    <div>
      <%= image_tag @item.item_image %>
    </div>
    <div>
      <h4><strong><%= @item.name %></strong></h4>
      <p><%= @item.introduction %></p>
      <%  if @item.is_active == true %>
        <h4> 
          ¥ <%= calculate_price_including_tax(@item.price) %>
           <!--↑ヘルパーメソッドapp/helpers/application_helper.rbに記載（byみっころ）-->
          <span style="font-size: small;">(税込)</span>
          <span style="font-size: medium;">販売中</span>
        </h4>
        
        <%= form_with(model: @cart_item, url: cart_items_path, local: true) do |f| %>
          <%= f.select :amount, [['1個', 1], ['2個', 2], ['3個', 3], ['4個', 4], ['5個', 5], ['6個', 6], ['7個', 7], ['8個', 8], ['9個', 9]], { prompt: "個数選択" } %>
          <%= f.hidden_field :item_id, value: @item.id %>　
          <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
        
      <% else %>
        <h4>販売停止中です</h4>
      <% end %>
    </div>
  </div>
  
</div>

